<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
    <li>
        <a ui-sref="app.dashboard">Home</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        User
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="margin-top-10">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="portlet light ">
                <h2>{{user.username}}</h2>
                <p>{{user.email}}</p>
            </div>
        </div>
    </div>
</div>